<!DOCTYPE>
<html>
<head>
    <style>
        .high {
            background-color: red;
        }
        .low {
            background-color: blue;
        }
        .correct {
            background-color: green;
        }
    </style>
</head>
<body class=<%= style %>>
    <p>
        <h1>Guess the secret number!</h1>
        <h2><%= message %></h2> 
    </p>
    <form>
        <input type="text" name="guess" />
        <input type="submit" value="Guess!" /> 
    </form>
</body>
</html>