<!DOCTYPE>
<html>
<head>
</head>
<body>
    <p>
        <h1>The secret number is <%= num %></h1>
        <h2><%= message %></h2> 
    </p>
    <form>
        <input type="text" name="guess" />
        <input type="submit" value="Guess!" /> 
    </form>
</body>
</html>